

<div class="index" >
    <mat-toolbar class="tool-title" color="primary" style="-webkit-app-region: drag">
        <span >Excel change to TypeScript v0.6.5</span>
        <span class="close-button" style="-webkit-app-region: no-drag;">
            <button mat-icon-button (click)='clickClose()'>
                <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
            </button>
        </span>
        <span class="close-button2" style="-webkit-app-region: no-drag;">
            <button mat-icon-button (click)='clickRemove()'>
                <mat-icon aria-hidden="false" aria-label="close">remove</mat-icon>
            </button>
        </span>
    </mat-toolbar>
    
    <p style="font-size:18px ;">Author：zebin.ge</p>
    <h3>请在Config文件夹下修改配置文件Config.json</h3>
    <section class="example-section" >
        <!-- <mat-checkbox class="example-margin" color="warn" [checked]="checkOne" (change)="selection($event.source.id,$event.checked)" id="one">生成单文件(旧)</mat-checkbox>
        <mat-checkbox class="example-margin" color="warn" [checked]="checkTwo" (change)="selection($event.source.id,$event.checked)" id="two">生成多文件</mat-checkbox> -->
        <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" color="warn"  value="newone" >单文件</mat-radio-button>
            <mat-radio-button class="example-margin" color="warn"  value="newtwo" >多文件</mat-radio-button>
            <mat-radio-button class="example-margin" color="warn"  value="oldone" >多文件（旧方法）</mat-radio-button>
        </mat-radio-group>
    </section>
    <h3 style="margin-top:1rem"></h3>
   
    <!-- <button mat-raised-button (click)='clickChoose()' > 读 取 </button> -->
    
    <h4>当前配置文件目录：{{inputContent}}</h4>
    <button mat-stroked-button style="margin-bottom: 1rem;" (click)='opendir()'>打开配置文件夹</button>
    <button mat-raised-button color="primary" (click)='clickbtn()' matTooltip="转换前请配置路径~" aria-label="">转换</button>
    
</div>
<!-- <div class="ffooter">
    <h3>如果觉得好用，麻烦给一个star吧！感谢各位！</h3>
    <h3>有什么意见或者建议或者BUG请联系我！zebin.ge@appshahe.com</h3>
    <h4><img src=""/>github:<a href="https://github.com/shishenbaiye/ExcelChangeToTS-Electron">https://github.com/shishenbaiye/ExcelChangeToTS-Electron</a></h4>
</div> -->